<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="SubwayContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SubwayContext;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="DataContext" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SubwayContext;MultipleActiveResultSets=True" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISubwayMemberService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://ruby-pc/SubwayTest.Wcf/member.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISubwayMemberService"
        contract="ServiceReference1.ISubwayMemberService" name="WSHttpBinding_ISubwayMemberService">
        <identity>
          <servicePrincipalName value="host/Ruby-PC" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>